SUPABASE_URL=####
SUPABASE_KEY=####

SUPABASE_HOST=####
SUPABASE_PORT=####
SUPABASE_DB=####

DATABASE_URL=####
NOVE_ENV_DEVELOPMENT=#####
NOVE_ENV_STAGING=#####
NOVE_ENV_PRODUCTION=#####

JWT_TOKEN_SECRET=####

CLOUDINARY_NAME=####
CLOUDINARY_KEY=####
CLOUDINARY_SECRET=####